body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.3125;
  color: #2c3337;
  font-weight: 400;
  background: #efefef;
}

p {
  margin: 0 0 20px 0; }

a {
  color: #2c3337;
  background: transparent;
  text-decoration: underline; }
  a:active, a:hover {
    outline: 0;
    text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 0; }

h1, .-f1 {
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.1875; }
  @media screen and (min-width: 768px) {
    h1, .-f1 {
      font-size: 40px;
      font-size: 2.5rem;
      line-height: 1.15; } }
  @media screen and (min-width: 1024px) {
    h1, .-f1 {
      font-size: 40px;
      font-size: 2.5rem;
      line-height: 1.15; } }
  @media screen and (min-width: 1280px) {
    h1, .-f1 {
      font-size: 40px;
      font-size: 2.5rem;
      line-height: 1.15; } }

h2, .-f2 {
  font-size: 26px;
  font-size: 1.625rem;
  line-height: 1.23077; }
  @media screen and (min-width: 768px) {
    h2, .-f2 {
      font-size: 32px;
      font-size: 2rem;
      line-height: 1.1875; } }
  @media screen and (min-width: 1024px) {
    h2, .-f2 {
      font-size: 32px;
      font-size: 2rem;
      line-height: 1.1875; } }
  @media screen and (min-width: 1280px) {
    h2, .-f2 {
      font-size: 32px;
      font-size: 2rem;
      line-height: 1.1875; } }

h3, .-f3 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.20833; }
  @media screen and (min-width: 768px) {
    h3, .-f3 {
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 1.25; } }
  @media screen and (min-width: 1024px) {
    h3, .-f3 {
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 1.25; } }
  @media screen and (min-width: 1280px) {
    h3, .-f3 {
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 1.25; } }

h4, .-f4 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.25; }
  @media screen and (min-width: 768px) {
    h4, .-f4 {
      font-size: 17px;
      font-size: 1.0625rem;
      line-height: 1.29412; } }
  @media screen and (min-width: 1024px) {
    h4, .-f4 {
      font-size: 17px;
      font-size: 1.0625rem;
      line-height: 1.29412; } }
  @media screen and (min-width: 1280px) {
    h4, .-f4 {
      font-size: 17px;
      font-size: 1.0625rem;
      line-height: 1.29412; } }

h5, .-f5 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25; }
  @media screen and (min-width: 768px) {
    h5, .-f5 {
      font-size: 15px;
      font-size: 0.9375rem;
      line-height: 1.33333; } }
  @media screen and (min-width: 1024px) {
    h5, .-f5 {
      font-size: 15px;
      font-size: 0.9375rem;
      line-height: 1.33333; } }
  @media screen and (min-width: 1280px) {
    h5, .-f5 {
      font-size: 15px;
      font-size: 0.9375rem;
      line-height: 1.33333; } }

h6, .-f6 {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.42857; }
  @media screen and (min-width: 768px) {
    h6, .-f6 {
      font-size: 14px;
      font-size: 0.875rem;
      line-height: 1.42857; } }
  @media screen and (min-width: 1024px) {
    h6, .-f6 {
      font-size: 14px;
      font-size: 0.875rem;
      line-height: 1.42857; } }
  @media screen and (min-width: 1280px) {
    h6, .-f6 {
      font-size: 14px;
      font-size: 0.875rem;
      line-height: 1.42857; } }

b, strong, .strong {
  font-weight: 700; }

em, .em {
  font-style: italic; }


input {
  line-height: normal;
  transition: all .2s; }

input[type="text"],
input[type="url"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="number"],
input[type="date"] {
  color: #3c525f;
  padding: 10px;
  border: 1px solid #b8b8b9;
  -moz-appearance: textfield;
  -webkit-appearance: none;
  border-radius: 2px;
  height: auto; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus,
  input[type="tel"]:focus,
  input[type="number"]:focus,
  input[type="date"]:focus {
    border-color: #3c525f;
    outline: 0; }
  input[type="text"].input-error,
  input[type="email"].input-error,
  input[type="password"].input-error,
  input[type="tel"].input-error,
  input[type="number"].input-error,
  input[type="date"].input-error {
    border-color: #c72626; }
  input[type="text"].input-success,
  input[type="email"].input-success,
  input[type="password"].input-success,
  input[type="tel"].input-success,
  input[type="number"].input-success,
  input[type="date"].input-success {
    border-color: #1c875b; }

